@page
@inject IStringLocalizer<ConfirmEmailModel> PageStrings
@model ConfirmEmailModel

@{
	ViewData["Title"] = PageStrings["Page.Title"];
	Layout = "_Accounts-Box";
	var className = !Model.Message.Contains("Success") ? "text-danger" : "text-success";
}

<div>
	<div class="form-left pt-5 px-5 fs-5">@PageStrings["Form.Title"]</div>
	<div class="form-left h-100 pt-5 pb-5 px-5">
		<div class="row g-4">
			<div class="col-sm-12 @className">
				@PageStrings[Model.Message]
			</div>
		</div>
	</div>
</div>