@page
@inject IStringLocalizer<ConfirmEmailChangeModel> PageStrings
@model ConfirmEmailChangeModel
@{
	ViewData["Title"] = PageStrings["Page.Title"];
	Layout = "_Accounts-Box";
}

<div>
	<div class="form-left pt-5 px-5 fs-5">@PageStrings["Form.Title"]</div>
	<div class="form-left h-100 pt-5 pb-5 px-5">
		<div class="row g-4">
			<div class="col-sm-12">
				<partial name="_StatusMessage" model="Model.StatusMessage" />
			</div>
		</div>
	</div>
</div>