@page
@inject IStringLocalizer<ForgotPasswordModel> PageStrings
@inject CommonLocalizationService CommonStrings
@model ForgotPasswordModel
@{
	ViewData["Title"] = PageStrings["Page.Title"];
	Layout = "_Accounts-Box";
}
<div>
	<div class="form-left pt-5 px-5 fs-5">@PageStrings["Form.Title"]</div>
	<div class="form-left h-100 pt-5 pb-5 px-5">
		<form method="post" class="row g-4">
			<div class="col-12">
				<label asp-for="Input.Email">@CommonStrings.Get("Email")<span class="ps-1 text-danger">*</span></label>
				<div class="input-group">
					<div class="input-group-text"><i class="fa-solid fa-user"></i></div>
					<input asp-for="Input.Email" type="text" class="form-control" placeholder="@CommonStrings.Get("Placeholder.Email")">
				</div>
				<span asp-validation-for="Input.Email" class="text-danger"></span>
			</div>

			<div class="col-sm-12">
				<button id="login-submit" type="submit" class="btn btn-primary px-4 float-end mt-4">@PageStrings["Form.Button.Submit"]</button>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}