@page
@inject IStringLocalizer<RegisterConfirmationModel> PageStrings
@model RegisterConfirmationModel

@{
	ViewData["Title"] = PageStrings["Page.Title"];
	Layout = "_Accounts-Box";
}

<div>
	<div class="form-left pt-5 px-5 fs-5">@PageStrings["Form.Title"]</div>
	<div class="form-left h-100 pt-5 pb-5 px-5">
		<div class="row g-4">
			<div class="col-sm-12">
				@PageStrings["Email.Confirmation.Sent"]
			</div>

			<div class="col-sm-12 mb-5">
				@PageStrings["Resend.Email.Confirmation"]
			</div>
			<div class="col-12">
				<a class="float-end" id="resend-confirmation" asp-page="./ResendEmailConfirmation">@PageStrings["Resend"]</a>
			</div>
		</div>
	</div>
</div>